<!doctype html>
<html lang="es">
<head>
    <%- include('./templates/header') %>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <%- include('./templates/navbar') %>
        </div>
        <div class="card-body">
            <div class="row">
                <h3>Insertar Estudiante</h3>
            </div>
            <form method="post">
                <div class="row m-3">
                    <label for="code" class="col-sm-2 col-form-label">Código</label>
                    <div class="col-sm-4">
                        <input type="text" name="code" class="form-control" id="code" pattern="[0-9]+" required>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Apellidos</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" pattern="[a-zA-z\s]+" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="form-label">Nombres</label>
                        <input type="text" name="name" id="name" class="form-control" pattern="[a-zA-z\s]+" required>
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-sm-6">
                        <label for="dpto" class="form-label">Departamento</label>
                        <select id="dpto" class="form-select" name="dpto" required>
                            <option value="">Seleccione Departamento</option>
                            <%departments.forEach(dpto => { %>
                                <option value = "<%= dpto.code%>"><%= dpto.name%></option>
                            <%})%>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="towns" class="form-label">Municipio</label>
                        <select id="towns" name="town" class="form-select">

                        </select>
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-sm-6">
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" id="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="tel" id="phone" name="phone" class="form-control" pattern="[0-9]+" required>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Género</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" value="F"
                                   checked>
                            <label class="form-check-label" for="gender">
                                Femenino
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender"  value="M">
                            <label class="form-check-label" for="gender">
                                Masculino
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="row mt-3">
                    <button type="submit" class="btn btn-primary">Enviar Datos</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var  dataTowns = <%- JSON.stringify(towns) %>
    var  dataDptos = <%- JSON.stringify(departments) %>
</script>
<%- include('./templates/footer') %>
</body>
</html>
